<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mak.pos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.mak.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mak.pos.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource"/>
        </provider>
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.0"
            tools:replace="android:value" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"

             />
        <activity
            android:name=".TableSelectActivity"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".PartyInfoActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MenuItemsActivity"
            android:screenOrientation="portrait"

            >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartItemSelectActivity"
android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".CartViewActivity"
            android:screenOrientation="portrait"


            >

        </activity>
        <activity
            android:name=".ServerSettingActivity"
            android:screenOrientation="portrait"

            >

        </activity>


    </application>

</manifest>